.page__header {
  position: relative;
}
.header {
  padding: 1rem 3rem 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  z-index: 1111;
}

.header__logo {
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  z-index: 111;
  color: var(--color-white);
  margin-left: 4rem;
}
.header__nav {
  padding-left: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}
.header__hero-pics {
  width: 100%;
  height: 90vh;
  transform: translateY(-20%);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1111;
}

.nav__list {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.nav__list-items {
  font-size: 0.9rem;
  list-style-type: none;
}
.nav__list-links {
  text-decoration: none;
  color: var(--color-white);
}
.header__user {
  z-index: 111;
}
.header__user-links {
  font-size: 1.1rem;
  line-height: 28px;
  text-decoration: none;
}
.header__user-links:not(:last-child) {
  color: var(--color-white);
  margin-right: 1rem;
  letter-spacing: 0.3px;
}
.header__user-links:not(:first-child) {
  padding: 0.4rem 0.8rem;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  color: var(--primary-color);
}
.header__user-btn {
  font-size: 1rem;
  z-index: 1111;
  background-color: var(--color-white);
  color: var(--primary-color);
  border: none;
  border-radius: 0.6rem;
  padding: 0.2rem 1rem;
}

.hero__heading {
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  font-size: 36px;
}

.hero__pics {
  width: 20%;
  position: absolute;
  left: 20%;
  transform: translate(10%, 25%);
}
.hero__section {
  display: grid;
  row-gap: 1rem;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 40%;
  color: white;
}
.hero__heading {
  line-height: 3rem;
}
.hero__heading-sub {
  color: #ffcf99;
}
.hero__text {
  font-size: 0.9rem;
  line-height: 1.5rem;
  width: 90%;
}
.hero__search-box {
  display: flex;
}

.hero__search {
  padding: 0.4rem 0.9rem;
  width: 70%;
  border-radius: 0.3rem;
  border: none;
}
.hero__svg {
  position: absolute;
  left: 67%;
  transform: translateX(65%);
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-white);
  background: #ffcf99;
  padding: 0.1rem;
  border-radius: 0.3rem;
}

/*  */

.course__section-tag {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  font-size: 0.9rem;
  font-weight: bold;
}
.course__container {
  margin: auto 10rem;
  padding: 1rem;
  display: flex;
  width: 80%;
  gap: 2rem;
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
}
.course__card {
  border: 1px solid #ececec;
  box-shadow: 0px 24px 64px 0px rgba(101, 26, 163, 0.039);
  background: var(--color-white);
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.course__image-1,
.course__image-2,
.course__image-3,
.course__image-4 {
  height: 7rem;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.course__image-1 {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 0.502)), url("/img/course_pics-1.jpg");
  background-size: cover;
}
.course__image-2 {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 0.502)), url("/img/course_pics-4.jpg");
  background-size: cover;
}
.course__image-3 {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 0.502)), url("/img/course_pics-3.jpg");
  background-size: cover;
}
.course__image-4 {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 0.502)), url("/img/course_pics-2.jpg");
  background-size: cover;
}

.course__play-icon {
  fill: var(--color-white);
  position: absolute;
  top: 15%;
  left: 45%;
}
.course__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.9rem 1.5rem;
}
.course__title {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: 0.20000000298023224px;
}
.course__author {
  color: #919397;
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: var(--fontweight);
}
.course__details {
  color: #242222;
  font-size: 0.9rem;
  width: 102%;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
}
.course__feature {
  display: flex;
  gap: 0.8rem;
}
.course__feature-icon {
  gap: 0.3rem;
  align-items: center;
  display: flex;
}
.course__feature-icon span {
  font-size: 0.7rem;
}
.course__btn {
  border-radius: 10px;
  border: none;
  color: var(--color-white);
  background-color: #041a44;
  padding: 0.4rem 0.7rem;
}
.course__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course__price {
  font-weight: var(--fontweight);
  display: flex;
  flex-direction: column;
}
.course__price span:last-child {
  color: #ffaa00;
}

/***** Update Section *****/

.update__section {
  background: #f5faff;
  margin: 4rem 0;
  padding: 3rem 3rem 0 3rem;
}
.update__heading {
  padding-bottom: 1.1rem;
  font-size: 1.5rem;
  font-weight: var(--fontweight);
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
}
.update__container {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  margin: auto 1rem;
  justify-content: space-between;
}

.update__left-circle > span {
  display: block;
  text-align: center;
  transform: translate(-5%, 300%);
  font-size: 0.9rem;
}

.first-circle,
.second-circle,
.third-circle {
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.04);
}
.first-circle {
  background: #98b7e1;
}
.second-circle {
  background: #6a71b8;
  transform: translateY(-10%);
}
.third-circle {
  transform: translate(72%, -150%);
  background: #5963c3;
}

.update__circle-number {
  font-weight: var(--fontweight);
  font-size: 1.1rem;
}

.update__right-content {
  width: 88%;
  margin-top: -11rem;
}
.update__right-title {
  font-size: 1rem;
  font-weight: var(--fontweight);
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}
.update__right-desc {
  font-size: 1rem;
  padding: 0.8rem 0 1.1rem 0;
  color: #312d2d;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.20000000298023224px;
}
.update__btn {
  font-size: 1rem;
  color: var(--color-white);
  padding: 0.7rem 1rem 0.7rem;
  background-color: var(--primary-color);
}
/***** Update End Section *****/

/***** Job Section *****/

.job__section {
  padding: 2rem 4rem 2rem 4rem;
  /* background-color: #e5e5e5; */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin: auto 2rem;
}
.job__update-left span:last-child {
  color: #ffaa00;
}
.job__update-left span:first-child {
  text-decoration: line-through;
}
.job__description {
  font-size: 1rem;
  padding: 0.7rem 0;
  line-height: 2rem;
}

.job__update-right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.job__update-two {
  align-self: flex-end;
}
.job__update-images {
  width: 15%;
  border-radius: 50%;
  border: 2px solid #ffaa00;
  display: block;
}
.job__update-detail {
  padding: 0.6rem 0 0.6rem 2rem;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 10px;
  width: 50%;
  width: 356px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.job__update-profile {
  flex-basis: 50%;
  font-size: 1rem;
}
.job__update-profile span {
  display: block;
  /* flex-direction: column; */
}
.job__update-name {
  font-weight: var(--fontweight);
}
.job__update-title {
  font-size: 0.8rem;
}
.job__update-status {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: var(--fontweight);
  /* justify-self:; */
  align-self: flex-start;
}
/***** Job End Section *****/

/***** Features  Section *****/

.section__features {
  background: #fffbf8;
  display: grid;
  grid-template-columns: 52% 45%;
  margin-bottom: 3rem;
  margin-top: 6rem;
  padding: 3rem 1rem 0 0;
  height: 24rem;
}
.feature__left {
  height: 50%;
  padding-left: 15rem;
  color: var(--primary-color);
}

.feature__circle-one,
.feature__circle-two,
.feature__circle-three {
  display: block;
  height: 13rem;
  width: 13rem;
  background: #fffbf8;

  border-radius: 50%;
}

.feature__circle-one {
  position: relative;
  border: 1px solid var(--primary-color);
  border-right: 1px solid transparent;
  transform: rotate(-55deg);
  transform-origin: 40%, 90%;
  /* z-index: 100; */
}
.feature__circle-two {
  border: 2px solid #fcae51;
  border-right: 1px solid transparent;
  transform: rotate(150deg);
  transform-origin: 26% 20%;
}
.feature__circle-three {
  border: 2px solid #fcae51;
  border-right: 1px solid transparent;
  transform: rotate(345deg);
  transform-origin: -474% -250%;
}

.first-circle-text,
.second-circle-text,
.third-circle-text {
  position: absolute;
  text-align: center;
  padding: 0.5rem;
}
.first-circle-text {
  transform: translate(-50%, -190%);
  left: 26%;
  z-index: 500;
}
.second-circle-text {
  transform: translate(-30%, -300%);
  left: 16%;
}
.third-circle-text {
  transform: translate(-10%, -570%);
  left: 33%;
}
.first-circle-text span,
.second-circle-text span,
.third-circle-text span {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  display: block;
}
.first-circle-text span:first-child {
  font-size: 1.1rem;
}
.second-circle-text span:first-child {
  font-size: 1.1rem;
}
.third-circle-text span:first-child {
  font-size: 1.1rem;
}
.feature__right {
  height: 50%;
  padding-top: 3rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
}
.feature__right-description {
  font-size: 0.9rem;
  width: 65%;
  line-height: 1.4rem;
}
.feature__btn {
  font-size: 1rem;
  color: var(--color-white);
  padding: 0.7rem 1rem 0.7rem;
  background-color: var(--primary-color);
}

/*****  Profile Section *****/
.profile__section {
  padding-bottom: 3rem;
  margin: auto;
  width: 55%;
  margin-bottom: 2rem;
  position: relative;
}
.profile__heading {
  text-align: center;
  margin-bottom: 2rem;
}
.profile__heading p {
  font-size: 0.9rem;
  font-weight: 500;
}
.profile__heading-title {
  font-size: 2rem;
}
.profile__container {
  display: flex;
  gap: 5rem;
}
.profile__content {
  display: grid;
  justify-items: center;
  gap: 1;
}
.profile__image {
  border-radius: 50%;
}
.profile__detail {
  display: grid;
  gap: 0.2rem;
  justify-items: center;
  padding-bottom: 0.3rem;
}
.profile__line {
  display: block;
  width: 4rem;
  padding: 1px;
  margin: 0.5rem;
  background-color: #ffc72780;
}
.profile__name {
  font-weight: bold;
  font-size: 0.9rem;
  padding-top: 0.3rem;
  color: var(--primary-color);
}
.profile__title {
  font-size: 0.8rem;
}
.profile__location {
  font-size: 0.7rem;
}
.profile__description {
  font-size: 0.8rem;
  width: 85%;
}

.profile__icon-prev,
.profile__icon-next {
  fill: #ffc727;
  position: absolute;
  top: 50%;
}
.profile__icon-prev {
  right: 110%;
  transform: translateX(-50%);
}
.profile__icon-next {
  left: 110%;
  transform: translateX(50%);
}

/***** Profile End Section *****/

/*****Brand Section *****/

.brand__section {
  background: #fffbf8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 8rem 2rem;
}
.contact__update {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 68%;
  justify-items: flex-start;
}
.contact__description {
  font-size: 1rem;
  line-height: 1.7rem;
}
.brand__logo {
  row-gap: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.brand__heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--tertiary-color);
}
.brand__btn {
  font-size: 1rem;
  color: var(--color-white);
  padding: 0.7rem 1rem 0.7rem;
  background-color: var(--primary-color);
  width: fit-content;
}

/*****Brand End Section *****/

/*****  Features End Section *****/

/*****Helper class Section *****/
.btn {
  border: none;
}
.btn-primary {
  background-color: var(--primary-color);
  color: var(--color-white);
  padding: 0.5rem 1.1rem 0.5rem 1.1rem;
  font-size: 0.9rem;
}
.primary-heading {
  color: var(--tertiary-color);
}
.sub-heading {
  color: var(--tertiary-color);
  font-size: 1rem;
  font-weight: var(--fontweight);
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
}

/***** Helper class End Section *****/
.hidden {
  display: none;
}

.sm-font-size {
  font-size: 1rem;
}
