/*****Header Section *****/
.privacy--terms__header-container {
  background: linear-gradient(92.39deg, #242d80 51.61%, #081c4c 88.27%);
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 96% 99%, 92% 97%, 88% 95%, 84%); */
  /* height: 10%; */
}

.header {
  padding: 1rem 3rem 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: var(--color-white);
}
.header__nav {
  padding-left: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}
.nav {
  display: flex;
  /* gap: 2.6rem; */
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.nav__list-items {
  font-size: 0.9rem;
  list-style-type: none;
}
.nav__list-links {
  text-decoration: none;
  color: var(--color-white);
}
.header__user {
  display: flex;
  align-items: center;
  align-items: center;
  gap: 2rem;
  margin-right: 4rem;
}
.header__user-link,
.header__user-btn {
  font-size: 1rem;
  line-height: 28px;
}
.header__user-link {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.1rem;
}
.header__user-btn {
  background-color: var(--color-white);
  color: #263859;
  border: none;
  padding: 0.3rem 0.9rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

/***** Header hero *****/
.header__hero {
  margin: auto;
  width: 74%;
  padding-left: 3rem;
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.header__hero-left {
  display: grid;
  gap: 1rem;
}
.header__hero-title {
  font-size: 1.9rem;
  color: var(--color-white);
}
.header__hero-title span {
  color: #ffcf99;
}
.header__hero-text {
  font-size: 0.9rem;
  color: var(--color-white);
  width: 80%;
  line-height: 1.5rem;
}
.header__hero--btn-container {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.header__hero-btn {
  background-color: var(--color-white);
  border: none;
  padding: 0.7rem 0.9rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.header__hero-btn:hover {
  transform: translateY(-5%);
  background: #f5f5f5;
}
.header__hero-right {
  z-index: 10000;
}
.header__hero-image {
  /* width: 90%; */
  width: 120%;
  /* background: ; */
  z-index: 10000;
}

.header__hero-shape-1 {
  top: 70%;
  position: absolute;
  transform: translateY(-77%);
}
#ellipse-1 {
  top: 17%;
  right: 34%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#ellipse-2 {
  position: absolute;
  top: 55%;
  left: 56%;
  transform: translate(50%, 50%);
}

#ellipse-3 {
  position: absolute;
  top: 55%;
  left: 13%;
  transform: translate(-57%, 50%);
}
#ellipse-4 {
  top: 18%;
  right: 14%;
  position: absolute;
  transform: translate(20%, 60%);
}
#ellipse-5 {
  top: 17%;
  position: absolute;
  transform: translate(20%, -10%);
}
#ellipse-6 {
  position: absolute;
  top: 30%;
  left: 57%;
  width: 15%;
  transform: translate(60%, 5%);
  z-index: 1;
}

#polygon-1 {
  top: 30%;
  right: 37%;
  position: absolute;
  transform: translate(-50%, -10%);
  transform: rotate(46deg);
}
/***** Header hero End *****/

/* page Features heading */

.page-feature__heading {
  margin-top: 3rem;
  margin-bottom: 2.3rem;
}
.page-feature__heading p {
  margin-top: 0.7rem;
  font-size: 0.8rem;
}

/***** Feature Section*****/
.feature__content {
  margin: auto;
  width: 55%;
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-bottom: 4.5rem;
}
.feature__images {
  width: 45%;
}

.features__text {
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
  width: 110%;
  font-size: 0.9rem;
  color: #312d2d;
  line-height: 1.4rem;
}
.feature__btns {
  padding: 0.6rem 1rem;
  margin-top: 1rem;
}
/***** Feature End Section*****/

/*****Sign up and Form Section ;
 *****/

.sign-up__section {
  background-color: #fffbf8;
  padding-top: 3.4rem;
  padding-bottom: 5rem;
}
.sign-up__container {
  margin: auto;
  width: 40%;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: var(--shadow);
  border-radius: 0.6rem;
}
.sign-up__form {
  width: 90%;
}
.sign-up__form-group input {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #f5f5f5;
  border: none;
  padding: 0.8rem 0.9rem;
  border-radius: 0.4rem;
}
.sign-up__form-option {
  width: 106%;
  background-color: #f5f5f5;
  border: none;
  padding: 0.8rem 0.9rem;
  border-radius: 0.4rem;
  color: #928788;
}

.sign-up__update {
  display: flex;
  font-size: 0.7rem;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.9rem;
  color: black;
}
.sign-up__notice div {
  display: flex;
  gap: 0.5rem;
}
.sign-up__notice {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.sign-up__agreements {
  font-size: 0.7rem;
  line-height: 1.1rem;
}

.sign-up__btn {
  margin-top: 1rem;
  width: 100%;
  border: none;
  border-radius: 0.6rem;
  padding: 0.6rem 1rem;
  color: var(--color-white);
  background: var(--primary-color);
  letter-spacing: 1.2px;
}

/*****Sign up and Form End Section *****/

/*  */
